<cdk-virtual-scroll-viewport itemSize="100">
  <button *cdkVirtualFor="let chat of chatDataSource" routerLink="./{{ chat.chat.id }}" class="card w-100 d-flex flex-row align-items-center">
    <img *ngIf="true" class="img" [src]="chat.chat.image" [alt]="chat.chat.purpose_secret">
    <div class="card-body position-relative">
      <h3 class="fs-3 d-flex justify-content-between">{{ chat.chat.purpose_secret }} <small class="fs-6">{{ chat.message.created_at | date:'shortTime' }}</small></h3>
      <p class="text-start"><span>Recibido:</span> {{ chat.message }}</p>
    </div>
  </button>
</cdk-virtual-scroll-viewport>
