<nav class="navbar navbar-expand bg-body-tertiary border-bottom border-3 shadow">
  <div class="container-fluid gap-4">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div ngbDropdown>
          <a class="nav-link icon" id="dropdown" ngbDropdownToggle role="button">
            <img src="assets/icons/user.png">
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdown" >
            <!-- <li ngbDropdownItem>
              <a class="d-flex gap-2 text-decoration-none text-black" [routerLink]="['/config']" routerLinkActive="router-link-active">
                <div class="rounded bg-dark-subtle icon p-1">
                  <img src="assets/icons/config.png">
                </div>
                Configuración
              </a>
            </li> -->
            <li ngbDropdownItem>
              <a  class="d-flex gap-2 text-decoration-none text-black" (click)="ngLogout()">
                <div class="rounded bg-dark-subtle icon p-1">
                  <img src="assets/icons/close-sesion.png">
                </div>
                Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link icon" [routerLink]="['/messages']" routerLinkActive="router-link-active">
          <img src="assets/icons/chat-icon.png">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link icon" [routerLink]="['/new-secret']" routerLinkActive="router-link-active">
          <img src="assets/icons/new-secret.png">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link icon" [routerLink]="['/my-secrets']" routerLinkActive="router-link-active">
          <img src="assets/icons/my-secrets.png">
        </a>
      </li>
    </ul>
    <form class="d-flex flex-fill" role="search">
      <input class="form-control me-2" type="search" placeholder="Busca en boxus" aria-label="Search">
    </form>
    <a class="navbar-brand" [routerLink]="['/login']" routerLinkActive="router-link-active">BOXUS</a>
  </div>
</nav>
