<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h2>Cuenta tu secreto...</h2>
  </div>
  <div class="card-body">
    <form (ngSubmit)="sendSecret()" [formGroup]="secretForm">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="secretTitle" id="secretTitle" formControlName="secretTitle"
          placeholder="Dale un título a tu secreto">
        <button type="submit" class="btn icon" [disabled]="secretForm.invalid">
          <img [src]="'assets/icons/sending-secret.gif'">
        </button>
      </div>
      <div *ngIf="secretForm.get('secretTitle')?.touched">
        <div *ngIf="secretForm.get('secretTitle')?.errors?.['required']" class="alert alert-danger mt-3">Este campo es
          requerido
        </div>
        <div *ngIf="secretForm.get('secretTitle')?.errors?.['minlength']" class="alert alert-danger mt-3">Debes
          escribir al menos {{secretForm.get('secretTitle')?.errors?.['minlength']?.requiredLength}} caracteres.
        </div>
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="secretContent" name="secretContent" formControlName="secretContent" rows="3"
          placeholder="Escribe aquí tu secreto"></textarea>
          <div *ngIf="secretForm.get('secretContent')?.touched">
            <div *ngIf="secretForm.get('secretContent')?.errors?.['required']" class="alert alert-danger mt-3">Este campo es
              requerido
            </div>
            <div *ngIf="secretForm.get('secretContent')?.errors?.['minlength']" class="alert alert-danger mt-3">Debes
              escribir al menos {{secretForm.get('secretContent')?.errors?.['minlength']?.requiredLength}} caracteres.
            </div>
          </div>
      </div>
      <div class="mb-3">
        <div class="drag-and-drop p-4 p-md-5" draggable="true" ngClass="{{dragAreaClass}}">
          <div class="row">
            <div class="col-md-12 text-center drag-and-drop-text">
              <p *ngIf="!draggedFiles; else fileCharged">
                Arrastra tu imagen
                <a href="javascript:void(0)" (click)="file.click()">
                  o dale click aquí
                </a>
                <input class="d-none" type="file" #file accept="image/x-png,image/gif,image/jpeg" [multiple]="false"
                  (change)="onFileChange($event)" />
              </p>
              <ng-template class="dragged-files-wrapper" #fileCharged>
                <div class="file" *ngFor="let file of draggedFiles">
                  {{ file.name | uppercase }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="alert alert-danger error" *ngIf="error">
          {{ error }}
        </div>
      </div>
    </form>
  </div>
</div>
