button {
  &.icon {
    cursor: pointer;
    margin: 0 0.5rem;
    border: 1px solid #ced4da;
    border-radius: .3rem;
  }

  img {
    width: 3rem;
  }
}

.drag-and-drop {
    cursor : pointer;
    border: 2px dashed #ced4da;
    border-radius: .3rem;
    transition: all .5s;

    &:hover {
      border: 2px solid #ced4da;
    }

    .drag-and-drop-text, .drag-and-drop-text a {
      color: #6c757d;
    }
  }
