<form *ngIf="isLogging; else signUpForm" [formGroup]='loginForm' (ngSubmit)="signIn()">
  <label for='email'>Email</label>
  <input type='email' name='email' id='email' formControlName="email">
  <label for='password'>Contraseña</label>
  <input type='password' name='password' id='password' formControlName="password" required>
  <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
</form>

<ng-template #signUpForm>
  <h2>Registrate</h2>
  <form [formGroup]='loginForm' (ngSubmit)="signUp()">
    <label for='email'>Email</label>
    <input type='email' name='email' id='email' formControlName="email">
    <label for='password'>Contraseña</label>
    <input type='password' name='password' id='password' formControlName="password" required>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
</ng-template>

<div>
  <button type="button" (click)="toggleIsLogging()">{{ isLogging? "Crear cuenta nueva" : "Si ya tienes una cuenta haz click aquí" }}</button>
</div>
